<%= form_for(resource, as: resource_name, url: password_update_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :current_password %> <i>(required to change your password)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Password" %>
    </div>

    <div class="actions">
      <%= link_to 'Back to Profile', edit_user_registration_path, class: "button" %>
    </div>
  <% end %>
