<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <div>
    <% if book && book.book_picture.attached? %>
      <%= image_tag url_for(book.book_picture), width: 150 %>
    <% else %>
      <p>No book picture available</p>  
    <% end %>
    </div>
  
    <div>
      <strong>Genre:</strong>
      <ul>
        <li><%= link_to book.genre.genre_name, genre_path(book.genre) %></li>
      </ul>
    </div>
  
  <div>
    <strong>Authors:</strong>
    <ul>
      <% if book.authors.any? %>
        <% book.authors.each do |author| %>
          <li><%= link_to author.author_name, author_path(author.id) %></li>
        <% end %>
      <% else %>
        <li>No authors found for this book.</li>
      <% end %>
    </ul>
  </p>

 
  <div>
  
    <strong>Book description:</strong>
    <%= book.book_description %>
 
  </div>

  <div>
    <strong>Age recomendations:</strong>
    <%= book.age_recomendations %>
    </div>

</div>
