<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :book_name, "Book name:", style: "display: block" %>
      <%= form.text_field :book_name %>
    </div><br>

    <div> Book genre:
    <!-- Collection select for existing genres -->
      <div>
        <%= form.label :genre_id, "Select Genre:", style: "display: block" %>
        <%= form.collection_select :genre_id, Genre.all, :id, :genre_name %>
      </div>
    </div>

    <div> Book author(s):
      <!-- Collection select for existing authors -->
      <div>
        <%= form.label :author_ids, "Select Existing Author:", style: "display: block" %>
        <%= form.collection_select :author_ids, @authors, :id, :author_name, {}, { multiple: true } %>
      </div>

      <!-- Text field for creating a new author -->
      <div>
        <%= form.label :new_author_name, "Or Add a New Author:", style: "display: block" %>
        <%= form.text_field :new_author_name %>
      </div>
    </div><br>

    <div>
      <%= form.label :book_description, style: "display: block" %>
      <%= form.text_area :book_description %>
    </div><br>

    <div>Age recomendations:
      <div>
        <%= form.radio_button :age_recomendations, "babies" %>
        <%= form.label :babies, "babies" %>
        <%= form.radio_button :age_recomendations, "kids" %>
        <%= form.label :kids, "kids" %>
        <%= form.radio_button :age_recomendations, "youths" %>
        <%= form.label :youths, "youths" %>
        <%= form.radio_button :age_recomendations, "adults" %>
        <%= form.label :adults, "adults" %>
      <div>
    </div><br>

    <div>
    <% if book && book.book_picture.attached? %>
      <%= image_tag url_for(book.book_picture), width: 150 %>
    <% else %>
      <p>No book picture available</p>  
    <% end %>
    </div>
    
    <div>
      <%= form.label :book_picture %>
      <%= form.file_field :book_picture %>
    </div>

    <div>
      <%= form.submit %>
    </div>

<% end %>
