<!DOCTYPE html>
<html>
  <head>
    <title>BookDragon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!-- navigation bar or header content here -->

      <% if user_signed_in? %>
        <p>Welcome, <%= current_user.first_name %>, <%= current_user.id %></p>
      <% else %>
        <p> No user is logged in. </p>
      <% end %>
      
    <ul class="ul-bar">
      <li class="dropdown"><span>Books</span>
          <ul class="dropdown-content ul-bar">
            <li><a href="/books">All books </a></li>
            <li><a href="/books/new">New book </a></li>
          </ul>
      </li>
      <li class="dropdown"><span>Authors</span>
          <ul class="dropdown-content ul-bar">
            <li><a href="/authors">All authors </a></li>
            <li><a href="/authors/new">New author </a></li>
          </ul>
      </li>
      <li class="dropdown"><span>Genres</span>
          <ul class="dropdown-content ul-bar">
            <li><a href="/genres">All genres </a></li>
            <li><a href="/genres/new">New genre </a></li>
          </ul>
      </li>
      <li class="dropdown"><span>Reading lists</span>
          <ul class="dropdown-content ul-bar">
            <li><a href="/reading_lists">All reading lists </a></li>
            <li><a href="/reading_lists/new">New reading lists </a></li>
          </ul>
      </li>
      <li class="dropdown"><span>Users</span>
          <ul class="dropdown-content ul-bar">
            <li><a href="/users">All Users</a></li>
            <li><a href="/users/new">New User</a></li>
            
          </ul>
      </li>   
      
     
    <% if current_user %>
      <li><%= link_to 'Profile', edit_user_registration_path %></li>
      <li><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= button_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %></li>
    <% end %>
  

    </ul>

    </header>

    <div class="container">
      <!-- Flash messages for alerts and notices -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %> <!-- renders the main content of each page -->
    </div>

    <footer>
      <!-- footer content here -->
    </footer>
  </body>
</html>
