<!DOCTYPE html>
<html>
  <head>
    <title>BookDragon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!-- navigation bar or header content here -->
    </header>

    <div class="container">
      <!-- Flash messages for alerts and notices -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %> <!-- renders the main content of each page -->
    </div>

    <footer>
      <!-- footer content here -->
    </footer>
  </body>
</html>
